[package]
name = "frida-deepfreeze-rs"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[[bin]]
name = "standalone"
path = "src/main.rs"

[features]
default = ["frida"]
# dll_proxy = []
managed_lib = ["dep:windows-sys"]
# unmanaged_lib = [],
frida = ["dep:frida", "dep:lazy_static", "dep:serde", "dep:serde_json"]

[dependencies]
frida = { version = "0.4.2", features = ["auto-download"], optional = true }
lazy_static = { version = "1.4.0", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
serde_json = { version = "1.0", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["winnt", "libloaderapi"] }
windows-sys = { version = "0.52.0", features = ["Win32_System_ClrHosting"], optional = true }

[target.'cfg(unix)'.dependencies]
ctor = "0.2.5"

[build-dependencies]
goblin = "0.7.1"

[dev-dependencies]
pretty_assertions = "1.4.0"
mylib = { path = "tests/mylib" }
